/* koszyk */
body#cart {
  .card {
    .card-body + .card-body {
      @apply bg-white md:bg-transparent border-none shadow md:shadow-none py-3 md:py-4 fixed__mobile;
      .btn {
        @apply w-full md:w-auto;
      }
    }
  }
}

/* checkout steps */
.steps {
  @apply flex items-center justify-between w-full lg:w-[430px] lg:relative lg:mr-6;
  .line {
    @apply h-[3px] left-0 w-full absolute bg-gray-200;
  }
  .line2 {
    @apply bg-black;
  }
  .step {
    @apply relative;
    .number {
      @apply relative z-10 bg-gray-200 rounded-full w-[30px] h-[30px] text-sm font-semibold flex justify-center items-center text-gray-300;
    }
    .circle {
      @apply relative z-10 bg-white hidden w-[40px] h-[40px] justify-center items-center rounded-full;
      box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.1),
        0px -5px 40px 0px rgba(0, 0, 0, 0.06);
      svg:last-child {
        @apply hidden;
      }
    }
    .text {
      @apply font-medium text-black text-opacity-40 mt-2 absolute left-1/2 transform -translate-x-1/2 text-center min-w-[100px] lg:whitespace-nowrap;
    }
  }
  .step.active,
  .step.success {
    .number {
      @apply hidden;
    }
    .circle {
      @apply flex;
    }
    .text {
      @apply text-opacity-100;
    }
  }
  .step.success {
    .circle {
      @apply shadow-none  ring-2 ring-gray-950 ring-offset-0 ring-inset;
      svg:first-child {
        @apply hidden;
      }
      svg:last-child {
        @apply block;
      }
    }
  }
}
body#cart {
  .line2 {
    @apply w-[34%] lg:w-[28%];
  }
}
body#checkout {
  .line2 {
    @apply w-[70%] lg:w-[74%];
  }
}

/* thecheckout */
#checkout {
  .promo-code {
    form {
      @apply w-full;
    }
    .form-control {
      @apply !rounded-r-none;
    }
  }
  #tc-container,
  #tc-container-mobile {
    .checkout-block[class*="num-"] .block-header::before {
      @apply border-none p-0 shadow-none bg-transparent !hidden;
    }
    .block-header {
      @apply p-0 text-3xl flex-col lg:flex-row flex items-start lg:items-center gap-y-5 lg:gap-y-0 gap-x-6;
      #create_account {
        @apply text-sm flex-none whitespace-nowrap my-0 pl-0 lg:ml-auto order-2 lg:order-none;
      }
    }

    .form-fields #create_account {
      @apply hidden;
    }
    .form-group:not(.checkbox) {
      label {
        @apply flex flex-col;
        input,
        select,
        .input__holder {
          @apply order-2;
        }
      }
    }
    [data-link-action="toggle-password-visibility"] {
      @apply top-auto my-0 py-0 mr-3;
    }
    #create_account {
      .custom-control-label {
        @apply !pt-0.5;
      }
    }
    .qty-box {
      .btn {
        @apply flex items-center justify-center;
      }
    }
    .product-line-price {
      @apply w-full px-0 text-left;
    }
    .product-line-actions {
      @apply justify-between items-center gap-4 flex-none w-full;
      > div {
        @apply flex-none p-0 leading-none;
      }
    }
    .cart-summary {
      @apply mt-6;
    }
    .product-price.h5,
    .offer-login,
    .address-name-header,
    .private-fields-container {
      @apply !hidden;
    }
    .checkout-block {
      @apply border border-gray-200 mb-10;
    }
    .checkout-block.num-1,
    #thecheckout-login-form {
      @apply border-b-0  mb-0 pb-0;
    }
    .checkout-block.num-2 {
      @apply border-t-0;
    }
    #thecheckout-login-form {
      @apply my-0 py-0 border-t-0;
      .inner-area {
        @apply py-0;
      }
    }
    #login-form {
      @apply max-w-full p-0 lg:-mt-2.5;
    }
    .form-fields,
    .business-fields-container {
      @apply px-0 lg:px-1 gap-x-6 md:grid md:grid-cols-2 accent-primary-100;
      .form-group {
        @apply mb-7 px-0;
      }
      .form-group.email,
      .form-group.password,
      .form-group.countrySelect,
      .business-fields-container,
      #static-customer-info-container {
        @apply col-span-2;
      }
    }
    #login-form {
      .form-group.email,
      .form-group.password {
        @apply col-span-1;
      }
    }
    .business-fields-container {
      @apply px-0;
    }
    .error-msg {
      @apply text-red-500 text-xs py-1 rounded;
    }
    .form-group.missing-street-number
      label[data-missing-street-nr-notice]::after {
      @apply absolute right-0 text-xs text-red-500;
    }
    /* right column sticky */
    .checkout-area-4 {
      @apply sticky top-6 border;
      height: fit-content;
      .checkout-block {
        @apply mb-0 border-none;
      }
    }
    /* left column */
    .checkout-area-3 {
      .error-msg {
        @apply absolute bottom-2 my-0 transform translate-y-full;
      }
    }
    #thecheckout-cart-summary,
    #thecheckout-psgdpr,
    #thecheckout-data-privacy,
    #thecheckout-confirm,
    #thecheckout-order-message {
      @apply mb-0;
    }
    /* columns container */
    .checkout-area-2 {
      @apply gap-x-10 grid-cols-1 grid xl:flex !important;
      .blocks {
        @apply w-full xl:w-auto flex-auto;
      }
      .blocks:last-child {
        @apply !min-w-0;
      }
    }
    #thecheckout-confirm {
      .error-msg {
        @apply my-3;
      }
    }
    .shopping-cart-header:not(.sc_header) {
      @apply !hidden;
    }
    #checkout_products_btn {
      svg {
        @apply transform transition-all duration-200;
      }
    }
    #checkout_products {
      @apply max-h-0 overflow-hidden transition-all duration-200 ease-in-out;
    }
    .checkout-block.open {
      #checkout_products {
        @apply max-h-[1000px];
      }
      #checkout_products_btn {
        svg {
          @apply -scale-y-100;
        }
      }
    }
    .log-in {
      .nologin {
        @apply hidden;
      }
    }
    .log-in.active {
      .login {
        @apply hidden;
      }
      .nologin {
        @apply block;
      }
    }
    #thecheckout-account.active {
      .account-fields {
        @apply hidden;
      }
      #create_account {
        @apply opacity-0 pointer-events-none;
      }
    }
    .sociallogin__outer {
      @apply relative;
      .sociallogin {
        @apply !mb-0 pb-6 pt-6 md:flex-row justify-center;
        .btn__login {
          @apply lg:px-16;
        }
      }
      .loginhr {
        @apply top-6;
        div {
          @apply bg-white;
        }
      }
    }
    .payment-options,
    .delivery-options {
      @apply w-full col-span-2;
      .delivery-option-row,
      .payment_row {
        @apply border border-gray-200  my-2.5 rounded-[8px] relative  hover:border-gray-300;
        .delivery-option-logo {
          @apply hidden;
        }
        label {
          @apply px-5 py-5 w-full pl-14 cursor-pointer;
          .row,
          .h6 {
            @apply text-sm font-medium text-black text-opacity-50;
          }
          .h6 {
            @apply text-opacity-100;
          }
          .row {
            @apply flex items-center justify-between;
          }
          .delivery-option-price {
          }
        }
      }
      .payment_row.selected,
      .delivery-option-row.selected {
        @apply border-primary-100;
      }
      .additional-information,
      .carrier-extra-content {
        @apply !hidden;
      }
      .payment-option,
      .delivery-option {
        @apply flex items-center;
      }
      .delivery-option-row .shipping-radio,
      .payment_row .custom-radio {
        @apply mt-0 absolute left-4;
      }
    }
  }
  [data-link-action="x-add-new-address"], .customer-addresses select{
    @apply border rounded !no-underline border-gray-200 hover:border-primary-100 p-2 text-sm font-medium bg-transparent
  }
  .saved-addresses-label{
    @apply text-sm font-medium
  }
  .static-customer-info{
    .customer-name{
      @apply font-medium
    }
  }
  .block-promo{
    @apply my-6;
    .h6{
      @apply !pb-0 font-normal
    }
  }
}

.mark-required .form-group.email label.required .field-label::after,
.password .field-label::after {
  content: "*" !important;
  @apply !text-red-500;
}

/* quaintity input */
.bootstrap-touchspin {
  @apply border-gray-400;
  .form-control {
    @apply !text-xs !border-none;
  }
  .btn-touchspin {
    @apply rounded-none hover:bg-gray-100;
  }
}
