@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f5007b;
}

/* replace colors */

.l-header,
.form-control,
.border-bottom,
.card,
.dropdown-menu,
.cart-dropdown__products,
.cart-products:not(:first-child),
.custom-select,
.card-header,
.list-group-item,
.noUi-handle,
.custom-file-input,
.card-footer,
.custom-control-input:checked ~ .custom-control-label::before,
.product-line-grid:not(:last-child),
.card-body + .card-body {
  @apply border-gray-200 !important;
}
.swiper-button-custom,
.price,
a:hover,
.customer-links a i,
.customer-links a:not(.active):focus,
.customer-links a:not(.active):hover,
.search-form__btn,
.comments-pagination span,
.page-link {
  @apply text-primary-100;
}

.product-flags__flag,
.noUi-handle,
.noUi-connect,
.display-toggle__link.active,
.custom-control-input:checked ~ .custom-control-label::before,
.customer-links a.active,
.comments-pagination .page-item.active span,
.comments-pagination li.active .page-link,
.comments-pagination li.active span,
.page-item.active .comments-pagination span,
.page-item.active .page-link {
  @apply !bg-primary-100;
}
.comments-pagination .page-item.active span,
.comments-pagination li.active .page-link,
.comments-pagination li.active span,
.page-item.active .comments-pagination span,
.page-item.active .page-link {
  @apply border-primary-100;
}
.btn,
.form-control,
.custom-select,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-label::before {
  @apply !outline-0 !shadow-none;
}
.btn-primary {
  @apply bg-primary-100 text-white !border-none hover:bg-primary-200 !shadow-none !important;
}
.btn-secondary {
  @apply bg-primary-300 text-white !border-none hover:bg-primary-400 !shadow-none !important;
}
.btn-outline-primary {
  @apply !border-primary-100 text-primary-100 hover:bg-primary-100;
}
.btn-outline-secondary {
  @apply !border-gray-700 text-gray-700 hover:bg-gray-700;
}

.card-footer,
.card-header {
  @apply bg-gray-100;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  @apply !bg-primary-100 !bg-opacity-25;
}

.remove-from-cart {
  @apply text-black hover:text-red-400 !important;
}

.form-control-comment,
.text-muted {
  @apply text-xs text-gray-700 mt-1;
}
.alert-info,
.alert-warning {
  @apply bg-primary-400 text-white border-none;
}

/* replace colors END */

/* others */
.card.user-form {
  @apply overflow-hidden;
}
.customer-links a {
  @apply my-2;
}

.acc_nav_mob {
  @apply mb-0 lg:!hidden;
}
.acc_nav_mob a span svg:last-child {
  @apply ml-auto;
}
.customer-links a span svg:first-child {
  @apply mr-3 w-8;
}
.acc_nav_mob a.active span svg:last-child {
  @apply ml-auto transform -scale-y-100;
}
.acc_nav_mob a.active span svg:last-child path {
  @apply stroke-white;
}
.acc_nav_mob a:not(.active) {
  @apply !hidden;
}
.acc_nav_mob > .customer-links__list {
  @apply overflow-hidden;
}

.acc_nav_desk a {
  @apply !mt-2 lg:!mt-0 bg-white;
}
.acc_nav_desk a.active {
  @apply !hidden lg:!flex;
}
.acc_nav_desk a span svg:last-child {
  @apply ml-auto lg:hidden;
}

.acc_nav_desk {
  @apply !bg-transparent lg:!bg-white;
}

.acc_nav_desk > .customer-links__list {
  @apply overflow-hidden;
}

body .nav_logout {
  @apply !bg-transparent pt-4 pl-5  lg:py-0 lg:px-7  lg:mt-7  !important;
}

/* others  END */

.alert {
  @apply !mb-2;
}
.alert-info {
  @apply my-2;
}

/* replace colors END */

/* for things goes down - sticky bottom */
@media (max-width: 768px) {
  .fixed__mobile {
    @apply fixed bottom-0 left-0 w-full z-20;
    .container {
      @apply max-w-full;
    }
  }
}
/* top header END */
.modal-backdrop.show {
  @apply !opacity-100;
}
.modal-backdrop,
.dropdown-menu.show::before {
  @apply bg-slate-200/50 backdrop-blur-sm !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-track {
  @apply bg-white rounded-full;
}
* {
  scrollbar-color: var(--primary) white !important;
  scrollbar-width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-100 rounded-full;
}


/* buttons */
.btn__arrow{
  @apply text-gray-400 text-xs flex items-center;
  svg{
    @apply mr-2
  }
}
.breadcrumb{
  @apply bg-transparent p-0 text-xs
}